<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./resources/vue.js"></script>
    <title>Primeiro App em Vue</title>
    <style>
        .verde {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- v-if simples -->
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="!exibirSaldo">Exibir Saldo</span>
            <span v-if="exibirSaldo">Ocultar Saldo</span>
        </button>
        <p v-if="exibirSaldo">
            Saldo: <span>R$ {{ saldo }}</span>
        </p>

        <hr>

        <!-- v-if e v-else -->
        Idade: <input type="text" id="inputIdade" @blur="setIdade()"> {{ idade }}
        <p v-if="idade < 18">Menor de idade</p>
        <p v-else>Maior de idade</p>

        <hr>

        <!-- v-if, v-else-if e v-else -->
        Nota: <input type="text" id="inputNota" @blur="setNota()">
        <p v-if="nota == ''">Digite a nota do aluno</p>
        <p v-else-if="nota > 6 && nota <= 10">Aluno aprovado</p>
        <p v-else-if="nota > 3 && nota <= 10">Aluno  em recuperação</p>
        <p v-else-if="nota >= 0 && nota <= 10">Aluno reprovado</p>
        <p v-else>A nota informada é inválida</p>
    </div>

    <script>
        const vm = new Vue({ // vm = ViewModel
            el: '#app',
            data: {
                saldo: 4570.17,
                exibirSaldo: false,
                idade: 0,
                nota: 0
            },
            methods: {
                setIdade() {
                    this.idade = inputIdade.value;
                },
                setNota() {
                    this.nota = inputNota.value;
                }
            }
        });
    </script>
</body>
</html>